<button class="btn btn-primary" (click)="next()">Next</button>
<ul class="list">
    <li>...</li>
    <li>
        Ullamco laboris nisi ut aliquip
        <ul class="list" id="list">
            <li>Consequat</li>
            <li>Adipisicing</li>
            <li>Exercitation</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>Consequat</li>
            <li>Adipisicing</li>
            <li>Exercitation</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>Consequat</li>
            <li>Adipisicing</li>
            <li>Exercitation</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>Consequat</li>
            <li>Adipisicing</li>
            <li>Exercitation</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
            <li>abcdefg</li>
        </ul>
    </li>
    <li>Reprehenderit in voluptate</li>
    <li>Mollit anim id</li>
</ul>