<section class="page-body">
  <div class="page-content-wrapper">
      <ng-content></ng-content>
  </div>
</section>
<section class="page-detail" [class.collapsed]="!detailsExpanded" [ngStyle]="{'flex': width}" *ngIf="detail">
  <button class="btn btn-sm btn-link" id="detailButton" (click)="detailsExpanded = !detailsExpanded">
          <clr-icon shape = "angle" size = "24"></clr-icon>
      </button>
  <div class="page-content-wrapper">
      <ng-content select="emc-page-detail"></ng-content>
  </div>
</section>
