$minDetailWidth: 300px;
$maxDetailWidth: 460px;
$padding: 24px;
@mixin flexContainer($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin flexItem($maxSize) {
    flex: 1 1 $maxSize;
}

 :host {
    width: 100%;
    max-width: 100%;
    border-top: 1px solid transparent;
    @include flexContainer(row);
    .page-body {
        @include flexItem(auto);
        overflow-y: visible;
        width: 100%;
        max-width: 100%;
        padding-right: $padding;
    }
    .page-detail {
        overflow-y: visible;
        border-left: solid 1px #CCC;
        max-width: $maxDetailWidth;
        min-width: $minDetailWidth;
        padding-top: 8px;
        transition: .3s ease;
        .page-content-wrapper {
            padding-left: 12px ;
        }
        button {
            transform: rotate(90deg);
            float: right;
            transition: transform .3s ease;
            margin: 6px;
            padding: 0;
        }
        &.collapsed {
            @include flexItem(32px);
            width: 32px;
            max-width: 32px;
            min-width: 32px;
            border-left: none;
            overflow: hidden;
            button {
                transform: rotate(90deg) scaleY(-1);
            }
            .page-content-wrapper {
                display: none;
            }
        }
    }
    .page-content-wrapper {
        padding-left: $padding;
        padding-top: 0;
        padding-bottom: $padding; //max-width: 900px;
        width: 100%;
    }
}

:host {
    flex: 1;
    min-height: 0;
    .page-body,
    .page-detail {
        overflow-y: auto;
    }
}

//remove styles from the buttons
button {
    margin-top: 0;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    min-width: 0;
}

@media (max-width: 1100px) {
     :host {
        position: relative;
        .page-detail {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: $minDetailWidth;
            background: #F4F4F4;
            z-index: 5;
        }
        .page-detail.collapsed {
            position: static;
            background: auto;
        }
    }
}
