$minDetailWidth: 250px;
$maxDetailWidth: 300px;
$padding: 24px;
// @mixin flexContainer($direction) {
//     display: flex;
//     flex-direction: $direction;
// }

:host(.modal-wrapper) {
    width: 100%;
    display: block;
    overflow-y: auto;

    &.fullscreen {
        // position: fixed;
        // left: 0;
        // right: 0;
        // top: 0;
        // bottom: 0;
        // overflow-y: auto;
        // display: block;
        // background: #F4F4F4;
        // z-index: 1050;

        div.modal-dialog.modal-xl .modal-outer-wrapper {
        
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                overflow-y: auto;
                display: block;
                background: #F4F4F4;
                z-index: 1050;
            width: 70%
        }
    }
}

.full-screen-wraper {
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
}
.full-screen-content {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}