<nav class="subnav">
    <ul class="nav" #navTabs>
        <li class="nav-item" (click)="switchTab($event)">
            <a class="nav-link active" href="javascript://">Backup</a>
        </li>
        <li class="nav-item" (click)="switchTab($event)">
            <a class="nav-link" href="javascript://">Restore</a>
        </li>
        <li class="nav-item" (click)="switchTab($event)">
            <a class="nav-link" href="javascript://">Cloud</a>
        </li>
        <li class="nav-item" (click)="switchTab($event)">
            <a class="nav-link" href="javascript://">Other</a>
        </li>
    </ul>
</nav>